data_dir = "/Users/christoph.kappel/Projects/showcase-nomad-quarkus/deployment/nomad/data"
plugin_dir = "/Users/christoph.kappel/Projects/showcase-nomad-quarkus/deployment/nomad/plugins"
bind_addr = "0.0.0.0"
log_level = "DEBUG"

client {
  options = {
    "driver.denylist" = "docker"
  }
}

plugin "nomad-driver-podman" {
  config {
    socket_path = "unix:/Users/christoph.kappel/.local/share/containers/podman/machine/podman-machine-default/podman.sock"
  }
}